*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%; /* default font size is 16px. So to make it 10px, use 62.5% of 16px = 10px */
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  width: 650px;
  height: 650px;
  background-color: rgb(247, 246, 241);
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: rgb(0, 60, 179)
}

.slider {
  width: 100%;
}
